<head>
    <title>Admin Panel</title>
</head>
<body>
<div class="flex-container">
    <div class="justify-content-center">
        @await Html.PartialAsync("_UserList")
    </div>
    <div class="justify-content-center">
        @await Html.PartialAsync("_CreateItem")
    </div>
</div>
</body>

<style>
    .flex-container {
        display: flex;
        justify-content: space-around; /* Adjust as needed */
    }
</style>