@using TestMVC.Models.Enum
@{
    var categories = Enum.GetValues(typeof(Category));
    var items = new List<Item>();
}

<script>
    function updateItemsDropdown() {
        let category = $('#categorySelect').val();
        fetch(`/Item/GetItemsByCategory?category=${category}`)
            .then(response => response.json())
            .then(data => {
                let itemSelect = $('#itemSelect');
                itemSelect.empty();
                itemSelect.append($('<option>').val('').text('Select an Item'));
                data.forEach(function (item) {
                    itemSelect.append($('<option>').val(item.id).text(item.itemName));
                });
            });
    }
</script>

<div class="container mt-4 main">
    <form asp-action="Create" asp-controller="UserItem" class="col">
        <div class="form-group w-75">
            <label for="categorySelect">Category</label>
            <select id="categorySelect" name="Category" class="form-control" onchange="updateItemsDropdown()">
                <option value="">Select a Category</option>
                @foreach (var c in categories)
                {
                    <option value="@c">@c</option>
                }
            </select>
        </div>
        <div class="form-group w-75">
            <label for="itemSelect">Item</label>
            <select id="itemSelect" name="Id" class="form-control">
                <option>Select an Item</option>
                @foreach (var i in items)
                {
                    <option value="@i.Id">@i.ItemName</option>
                }
            </select>
        </div>
        <div class="form-group w-75">
            <label for="priceInput">Price</label>
            <input type="text" id="priceInput" name="Price" class="form-control" pattern="^\d+(\.\d{1,2})?$" title="Price must be a decimal number with up to two decimal places." min="0" value="0"/>
        </div>
        <div class="form-group w-75">
            <label for="quantityInput">Quantity</label>
            <input type="number" id="quantityInput" name="Quantity" class="form-control" min="1" value="1"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>