@{
    ViewData["Title"] = "Home Page";
}

@model TestMVC.Data.User
<div class="text-center">
    <h1 class="display-4 mt-4">Profile</h1>
    <h3>@Model.Name</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
            </tr>
        }
        </tbody>
    </table>
</div>