@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="User" asp-action="Collection" class="btn btn-primary">User's Data</a>
    <a asp-controller="Data" asp-action="Index" class="btn btn-primary">Saved Data</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>