@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<UserItems>

<div class="text-center">
    <h1 class="display-4">Saved Data</h1>
    <a class="btn btn-primary m-4" asp-action="Rand" asp-controller="Data">Generate Random Data</a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
            </tr>
        }
        </tbody>
    </table>
</div>